{
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-import",
    "eslint-plugin-eslint-comments",
    "eslint-plugin-jsdoc"
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {}
}
