name: Publish to npm

on:
  push:
    branches: ["master"]

jobs:
  publish-to-npm:
    runs-on: ubuntu-latest
    steps:
      - name: Pull code
        uses: actions/checkout@v1
      - name: Set up node.js
        uses: actions/setup-node@master
        with:
          node-version: '12.x'
      - name: Install dependencies
        run: yarn
      - name: build
        run: yarn build
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
